.body{
  min-width: 1920px;
}


.lift{
  padding-left: 971px;
  position: sticky;
  position: -webkit-sticky;
  width: 310px;
  height: 500px;
  display: flex;
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  grid-template-rows: 296px;
}

.grid1 {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  grid-template-rows: 404px;
}

.grid > * {
  padding:0px;
  margin: 3px;
  margin-top:3px;
}

.grid1 > * {
  padding:0px;
  margin: 3px;
  margin-top:3px;
}

.a{
  background-color: #3B4851;
  padding:75px 88px;
}

.b{
 background-color: #343B43;
 padding:75px 55px;
 align-content: center;
}

.c{
 background-color: #35424A;
 position:relative;
}

.d{
 position: sticky;
 position: -webkit-sticky;
 width: 315px;
 height: 290px;
 top: 70px;
 display: flex;
}

.e{
 background-color: #3A4750;
 position:relative;
}

.f{
 background-color: #323F47;
 padding:60px 35px;
}

.a1{
 background-color: #2D323A;
 padding:69px 31px 71px 25px;
}

.b1{
 background-color: #47545D;
 position: relative;
}

.c1{
 background-color: #16191C;
 padding:75px 55px;
}

.e1{
 background-color: #2F363D;
 padding:75px 55px ;
}

.f1{
 background-color: #2F3840;
 position: relative;
}

.a2{
 background-color: #2F3840;
 position: relative;
}

.b2{
 background-color: #334149;
 padding:75px 55px;
}

.c2{
 background-color: #424F59;
 position: relative;
}

.e2{
 background-color: #36444B;
 position: relative;
}

.f2{
 background-color: #2D323A;
 padding:75px 55px;
}

.a3{
 background-color: #3B4851;
 padding:75px 88px;
}

.b3{
 background-color: #293238;
 padding:60px 37px;
}

.c3{
 background-color: #16191C;
 padding:55px;
 padding:55px;
}

.e3{
 background-color: #1F272D;
 padding:75px 55px;
}

.f3{
 background-color: #343B43;
 position:relative;
}

.a4{
 background-color: #323F47;
 padding:75px 88px;
}

.b4{
 background-color: #394349;
 padding:75px 55px;
    }

.c4{
 background-color: #3A4951;
 padding:75px 55px;
}

.e4{
 background-color: #374047;
 padding:80px 35px;
}

.f4{
 background-color: #3B4851;
 padding:75px 55px;
}

.a5{
 background-color: #293238;
 padding:75px 88px;
}

.b5{
 background-color: #16191C;
 padding:75px 55px;
}

.c5{
 background-color: #323F47;
 padding:75px 55px;
}

.e5{
 background-color: #16191C;
 padding:75px 55px;
}

.f5{
 background-color: #3A4951;
 padding:75px 55px;
}

.a6{
 background-color: #2C3139;
 padding:75px 88px;
}

.b6{
 background-color: #313B43;
 padding:75px 55px;
}

.c6{
 background-color: #36444C;
 padding:75px 55px;
}

.e6{
 background-color: #293238;
 padding:75px 55px;
}

.f6{
 background-color: #161A1F;
 padding:75px 55px;
}

.a7{
 background-color: #3A4951;
 padding:75px 88px;
}

.b7{
 background-color: #38454E;
 position: relative;
}

.c7{
 background-color: #161A1F;
 padding:75px 55px;
}

.e7{
 background-color: #313C44;
 padding:75px 55px;
}

.f7{
 background-color: #3B4952;
 padding:75px 55px;
}

.a8{
 background-color: #3B454D;
 padding:75px 88px;
}

.b8{
 background-color: #38454E;
 padding:67px 11px;
}

.c8{
 background-color: #3B4952;
 padding:67px 11px;
}

.e8{
 background-color: #384148;
 padding:100px 38px;
}

.f8{
 background-color: #313B43;
 padding:67px 55px;
}

.a9{
 background-color: #313B43;
 padding:91px 80px 117px 83px;
}

.b9{
 background-color: #3A4951;
 padding:109px  76px 109px 81px;
}

.c9{
 background-color: #3A4951;
 padding:109px 96px 104px 97px;
}

.d9{
 background-color: #161A1F;
}

.e9{
  background-color: #2F3840;
  padding:109px 80px;
}

.f9{
  background-color: #3B454D;
  padding:102px 0px;
}

.door{
 padding:77px 50px 33px 20px;
 top: 2749px;
}

.cust{
   margin-right:100px;
   position: relative;
}

.lift1{
  height: 2662px;
  width: 1920px;
  position: absolute;
}

{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .h {
    position: relative;
    margin: auto;
    overflow: hidden; 
    width: 205px;
}
.h img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.h:hover img {
    transform: scale(3.1);
} */
