

img.lift {
 position: sticky;
 width: 310px;
 height: 296px;
 top: 0px;
 padding-left: 50.3%;
}

.lift{
  padding-left: 50.3%;
  position: sticky;
  position: -webkit-sticky;
  width: 310px;
  height: 500px;
  display: flex;
  position: absolute;
}

.grid {
  /* display: grid;
   grid-gap: 0px;
   grid-template-columns: repeat(auto-fit, 320px);
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */

  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  grid-template-rows: 296px;
}

.grid1 {
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  grid-template-rows: 404px;
}

.grid > * {
  padding:0px;
  margin: 3px;
  margin-top:3px;
}

.grid1 > * {
  padding:0px;
  margin: 3px;
  margin-top:3px;
}

.a{
  background-color: #3B4851;
  padding:75px 94px;
}

.b{
 background-color: #343B43;
 padding:75px 55px;
 align-content: center;
}

.c{
 background-color: #35424A;
 position:relative;
}

.d{
 position: sticky;
 position: -webkit-sticky;
 width: 315px;
 height: 290px;
 top: 70px;
 display: flex;
}

.e{
 background-color: #3A4750;
 position:relative;
}

.f{
 background-color: #323F47;
 padding:60px 35px;
}

.a1{
 background-color: #2D323A;
 padding:69px 31px 71px 32px;
}

.b1{
 background-color: #47545D;
 position: relative;
}

.c1{
 background-color: #16191C;
 padding:70px 65px;
}

.e1{
 background-color: #2F363D;
 position: relative;
}

.f1{
 background-color: #2F3840;
 position: relative;
}

.a2{
 background-color: #2F3840;
 position: relative;
}

.b2{
 background-color: #334149;
 padding:75px 55px;
}

.c2{
 background-color: #424F59;
 position: relative;
}

.e2{
 background-color: #36444B;
 padding:75px 85px;
}

.f2{
 background-color: #2D323A;
 padding:75px 55px;
}

.a3{
 background-color: #3B4851;
 position: relative;
}

.b3{
 background-color: #293238;
 padding:60px 37px;
}

.c3{
 background-color: #16191C;
 padding: 105px 65px;
}

.e3{
 background-color: #1F272D;
 padding:75px 55px;
}

.f3{
 background-color: #343B43;
 position:relative;
}

.a4{
 background-color: #323F47;
 padding:75px 94px;
}

.b4{
 background-color: #394349;
 padding:75px 55px;
    }

.c4{
 background-color: #3A4951;
 position: relative;
}

.e4{
 background-color: #374047;
 padding:80px 85px;
}

.f4{
 background-color: #3B4851;
 padding:75px 55px;
}

.a5{
 background-color: #293238;
 padding:75px 94px;
}

.b5{
 background-color: #16191C;
 padding:95px 55px;
}

.c5{
 background-color: #323F47;
 padding:75px 55px;
}

.e5{
 background-color: #16191C;
 padding:95px 65px;
}

.f5{
 background-color: #3A4951;
 padding:75px 55px;
}

.a6{
 background-color: #2C3139;
 padding:75px 94px;
}

.b6{
 background-color: #313B43;
 padding:75px 55px;
}

.c6{
 background-color: #36444C;
 padding:75px 55px;
}

.e6{
 background-color: #293238;
 position: relative;
}

.f6{
 background-color: #161A1F;
 padding:95px 65px;
}

.a7{
 background-color: #3A4951;
 padding:75px 94px;
}

.b7{
 background-color: #38454E;
 position: relative;
}

.c7{
 background-color: #161A1F;
 padding:90px 65px;
}

.e7{
 background-color: #313C44;
 padding:75px 55px;
}

.f7{
 background-color: #3B4952;
 padding:75px 55px;
}

.a8{
 background-color: #3B454D;
 position: relative;
}

.b8{
 background-color: #38454E;
 padding:67px 11px;
}

.c8{
 background-color: #3B4952;
 position: relative;
}

.e8{
 background-color: #384148;
 padding:100px 38px;
}

.f8{
 background-color: #313B43;
 padding:67px 55px;
}

.a9{
 background-color: #313B43;
 padding:91px 80px 117px 90px;
}

.b9{
 background-color: #3A4951;
 padding:109px  76px 109px 81px;
}

.c9{
 background-color: #3A4951;
 padding:109px 96px 104px 97px;
}

.d9{
 background-color: #161A1F;
}

.e9{
  background-color: #2F3840;
  position: relative;
}

.f9{
  background-color: #3B454D;
  padding:102px 0px;
}

.door{
 padding:3px 49px 33px 18px;
 top: 2749px;
 position:absolute;
 z-index: 999;
}

.cust{
   margin-right:100px;
   position: relative;
}

.lift1{
  height: 2662px;
  width: 1920px;
  position: absolute;
}

{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rectangle{
  width: 1920px;
  height: 122px;
  background-color: #161A1F;
}

.text{
  padding: 44px 1681px 20px 34px;
}

.grass1{
  height: 372px;
  width: 1920px;
}

.rectangle2{
  background-color: #364634;
  width: 1920px;
  top: 2967px;
  height: 372px;
  z-index:1;
}



.road{
  position: absolute;
  top: 2960px;
  left: -110px;
}

.bench{
  padding: 0px 1340px 432px 350px;
  top: 2974px;
  position: absolute;
  z-index: 999;
}

.circle1 {
  background: #DD086E;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 260px;
  left: 1250px;
  position: relative;
  z-index: 999;
}

.circle1:hover {
  transform: scale(2);
}

.circle2 {
  background: #DD086E;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 140px;
  left: 1400px;
  position: relative;
  z-index: 999;
}

.circle2:hover {
  transform: scale(2);
}

.circle3 {
  background: #992B4C;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 230px;
  left: 1350px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle3:hover {
opacity: 0;
}

.circle4 {
  background: #DD086E;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 140px;
  left: 1470px;
  position: relative;
  z-index: 999;
}

.circle4:hover {
  transform: scale(2);
}

.circle5 {
  background: #992B4C;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 165px;
  left: 1546px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle5:hover {
opacity: 0;
}

.circle6{
  background: #992B4C;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 0px;
  left: 1580px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle6:hover {
opacity: 0;
}

.circle7 {
  background: #DD086E;
  border-radius: 50%;
  height: 39px;
  width: 39px;
  top: 50px;
  left: 1650px;
  position: relative;
  z-index: 999;
}

.circle7:hover {
  transform: scale(2);
}

.circle8 {
  background: #DD086E;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  top: -350px;
  left: 100px;
  position: relative;
  z-index: 999;
}

.circle8:hover {
  transform: scale(2);
}

.circle9 {
  background: #992B4C;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: -340px;
  left: 30px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle9:hover {
  opacity: 0;
}

.circle10 {
  background: #DD086E;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  top: -330px;
  left: 60px;
  position: relative;
  z-index: 999;
}

.circle10:hover {
  transform: scale(2);
}

.circle11 {
  background: #992B4C;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: -370px;
  left: 110px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle11:hover {
  opacity: 0;
}

.circle12 {
  background: #DD086E;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  top: -380px;
  left: 200px;
  position: relative;
  z-index: 999;
}

.circle12:hover {
  transform: scale(2);
}

.circle13 {
  background: #992B4C;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: -360px;
  left: 180px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle13:hover {
  opacity: 0;
}

.circle14 {
  background: #992B4C;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  top: -430px;
  left: 160px;
  position: relative;
  z-index: 999;
  opacity: 100;
}

.circle14:hover {
  opacity: 0;
}

.circle15 {
  background: #DD086E;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  top: -410px;
  left: 120px;
  position: relative;
  z-index: 999;
}

.circle15:hover {
  transform: scale(2);
}
